
@media only screen  and (max-width: 480px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
	content:"";
	display: table;
	clear: both;
}

.container {
	width: 90%;
	margin: 0 auto;
}



.logo {
	font-size: 30px;
	font-weight: 700;
	padding-top: 30px;

	float: left;
}

.main-nav{
	display: none;
}


.hamburger {
	font-size: 40px;
	float: right;
	display: block;
	margin-top: 20px;
	

.main {
	position: absolute;
	width: 90%;
	top: 50%;
}

.main-text {
	font-size: 20px;
	font-weight: 400;
}

	


/* Mission page*/

.content {
	width: 90%;
	margin: 0 auto;
}

.mission-image {
	height: 250px;
	width: 250px !important;
	object-fit: cover;
	margin: 0 auto;
	
}

.page-title , .cheese-title {
	font-size: 50px;
	font-weight: 400;
	padding-top: 30px;
}


.our-mission {
	
display: flex;
flex-direction: column;
margin-top: 20px;
margin-right: auto;
margin-left: auto;
}


.mission-descrip {
	width: 100%;
	text-align: justify;
}







/*Cheese page*/

.four , .five , .six  {
	
	width: 100%;
	height: auto;
	
	margin: 0 auto;
}

.box {
	width: 90%;

}


.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}

.cheese-text {
	padding: 0 0 20px 0;
	width: 100%;
	margin: 0 auto;
	
}
.cheese-title {
	
	padding-bottom: 30px;
	padding-top: 50px;
}
	



/* Tours page*/

.tours-image {
	height: 250px;
	width: 250px !important;
	object-fit: cover;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	
	
	
}

.tours-text {
	width: 100%;
	text-align: justify;
	
}
.page-title {
	padding-bottom: 20px;
}

.tours{
	
display: flex;
margin-top: 70px;
flex-direction: column;


}

.footer-pic {
	
display: flex;
justify-content: space-around;
width: 30%;
margin: 0px auto 30px auto;
padding-top: 60px;
}

.footer-text {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	display: block;
	margin-bottom: 20px;
}

.icon {
	height: 20px;
}
	
	
}